/* General CSS */
* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  text-align: center;
  color: white;
  font-family: 'Oxygen', sans-serif;
  background: #0B486B;
  margin: 0;
}
a {
  text-decoration: none;
  color: #A8DBA8; /* dark green */
}
a:hover{
  color: #CFF09E;  /* light green */
}
header{
  margin: 0;
  padding: 10px 0 10px 0;
  background: rgba(0,0,0,.5);
  background: -webkit-linear-gradient(rgba(59,134,134,.5), rgba(0,0,0,0));
  background: -o-linear-gradient(rgba(59,134,134,.5), rgba(0,0,0,0));
  background: -moz-linear-gradient(rgba(59,134,134,.5), rgba(0,0,0,0));
  background: linear-gradient(rgba(59,134,134,.5), rgba(0,0,0,0));
}
h1, h2, h3{
  font-family: 'Patua One', cursive;
  font-weight: normal;
}
header h1{
  font-size: 55px;
  margin: 0;
}
header h2{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
header #mainChar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#settings{
  display: flex;
  justify-content: center;
  align-items: center;
}
#settings>div{
  margin: 10px 20px 10px 20px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons>div{
  margin: 10px;
}
#clock{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  position: relative;
  background: -webkit-radial-gradient(rgba(0,0,0,0.5) 7%, rgba(0,0,0,0) 70%); /* Safari 5.1- 6.0 */
  background: -o-radial-gradient(rgba(0,0,0,0.5) 7%, rgba(0,0,0,0) 70%); /* Opera 11.6-12.0 */
  background: -moz-radial-gradient(rgba(0,0,0,0.5) 7%, rgba(0,0,0,0) 70%); /* Firefox 3.6-15 */
  background: radial-gradient(rgba(0,0,0,0.5) 7%, rgba(0,0,0,0) 70%); /* Standard syntax */
}
canvas#clockVis{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
footer{
  margin: 10px;
  font-family: 'Oxygen', sans-serif;
}
